[Service]
Type=oneshot
ExecStart=/usr/bin/mkiblbackup infinity /home/core/.dbcerts/public.pem
ExecStart=/usr/bin/mkiblbackup gitlogs /home/core/.dbcerts/public.pem
ExecStart=/usr/bin/mkiblbackup nextcloud /home/core/.dbcerts/public.pem
ExecStart=/usr/bin/mkiblbackup gitea /home/core/.dbcerts/public.pem
ExecStart=/usr/bin/mkiblbackup vivum /home/core/.dbcerts/public.pem
ExecStart=/usr/bin/mkiblbackup skynet /home/core/.dbcerts/public.pem
ExecStart=/usr/bin/mkiblbackup seaweed /home/core/.dbcerts/public.pem
User=core
Group=core
WorkingDirectory=/home/core
PrivateTmp=true

[Unit]
Description="Backup script"
After=postgresql.service
Wants=network-online.target
